.top{
  background-color: #edf1f4;
  height: 125px;
  text-align: center;
  &__page-title{
    padding: 30px 0 9px;
    font-size: 36px;
    line-height: 24px;
    @extend %Rubik-300;
    color: #222933;
  }
}

@media (max-width: 375px){
  .top{
    &__page-title{
      font-size: 22px;
    }
  }
}