html,
body{
  width: 100%;
}

body{
  color: $default;
  font-size: 14px;
  line-height: 32px;
  @extend %Rubik-400;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container-large{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
  @extend %DMSans-400;
}

.title{
  font-size: 36px;
  color: $title;
  text-align: center;
  margin-bottom: 27px;
}

.subtitle{
  @extend %DMSans-700;
  color: $direct;
  font-size: 36px;
  line-height: 32px;
}

.breadcrumbs{
  display: inline-flex;
  &__list{
    display: flex;
  }
  &__item{
    color: #979ba0;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      right: -12px;
      top: 0;
    }
    &:last-child::after{
      display: none;
    }
  }
  &__item + .breadcrumbs__item{
    margin-left: 20px;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  .pagination__list{
    display: flex;
    align-items: center;
  }
  &__link{
    display: block;
    color: $direct;
    padding: 8px 19px;
    border: 1px solid $accent;
    margin-left: 15px;
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 30px !important;
    &:hover{
      background-color: $accent;
      color: #fff;
    }
  }
  &__link--active{
    background-color: $accent;
    color: #fff;
  }
  &__prev{
    display: none;
  }
}