$accent: #a3bbc8;
$default: #8b8b8b;
$search: #edf1f4;
$preferences: #fcd7b6;
$direct: #243f4d;
$hover-link: #b3d0e0;
$title: #191919;

%DMSans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%DMSans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%Rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%btn{
  color: #fff;
  background-color: #a3bbc8;
  padding: 8px 19px 8px 16px;
  @extend %DMSans-400;
  font-size: 14px;
  line-height: 21px;
}

@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}