$accent: #a3bbc8;
$default: #8b8b8b;
$header-title: #436372;
$search: #edf1f4;
$preferences: #fcd7b6;
$title: #243f4d;

%DMSans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%DMSans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%Rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}