@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';

.header{
  padding: 48px 0 45px;
  &__container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
}

.menu{
  margin-left: 89px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 34px;
  }
  &__list-link{
    color: $header-title;
    @extend %DMSans-700;
    &:hover{
      color: $accent;
    }
  }
}

.user-nav{
  display: flex;
  &__search{
    width: 50px;
    height: 50px;
    background-color: $search;
    border-radius: 50%;
    margin-right: 21px;
    transition: all .3s;
    &:hover{
      background-color: $preferences;
    }
  }
  &__search-img{
    display: block;
    margin: 17px auto;
  }
  &__preferences{
    display: flex;
    width: 178px;
    justify-content: space-between;
  }
  &__preferences-left{
    display: flex;
    justify-content: space-around;
    width: 89px;
    height: 50px;
    background-color: $preferences;
    border-radius: 25px 0 0 25px;
    transition: all .3s;
    &:hover{
      background-color: $search;
    }
  }
  &__preferences-right{
    display: flex;
    justify-content: space-around;
    width: 89px;
    height: 50px;
    background-color: $preferences;
    border-radius: 0 25px 25px 0;
    transition: all .3s;
    &:hover{
      background-color: $search;
    }
  }
  &__preferences-link + .user-nav__preferences-link{
    border-left: 1px solid #fde7d3;
  }
  &__preferences-link{
    position: relative;
    width: 50%;
    height: 32px;
    margin: 8px auto;
  }
  &__preferences-img{
    display: block;
    margin: 7px auto;
  }
  &__preferences-num{
    position: absolute;
    top: -3px;
    right: 22px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    margin-right: 5px;
    color: $title;
  }
  &__catalog-link{
    width: 50px;
    height: 50px;
    background-color: $accent;
    border-radius: 50%;
    margin-left: 18px;
    &:hover{
      background-color: $hover-link;
    }
  }
  &__catalog-link-img{
    display: block;
    margin: 16px auto;
  }
}

.footer-top{
  padding: 99px 0 104px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__items{
    width: 270px;
  }
  &__items + .footer-top__items{
    margin-left: 30px;
  }
  &__link{
    &:hover{
      color: $accent;
    }

  }
  &__logo{
    margin-bottom: 16px;
    display: block;
  }
  &__address,
  &__email,
  &__phone{
    display: flex;
    width: 200px;
    margin-bottom: 8px;
    @extend %Rubik-400;
    color: #7b7b7b;
    &:hover{
      color: $accent;
    }
  }
  &__title{
    color: #1f2044;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 16px 0 19px;
  }
  &__text{
    @extend %Rubik-400;
    line-height: 20px;
    margin-bottom: 40px;
  }
  &__form{
    display: flex;
    max-width: 270px;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    border: none;
    padding: 3px 77px 3px 15px;
    &::placeholder{
      color: #234969;
      font-size: 12px;
      @extend %DMSans-400;
    }
  }
  &__form-btn{
    @extend %btn;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: #b3d0e0;
    }
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__nav-menu{
    line-height: 1;
    display: flex;
    justify-content: space-between;
  }
  &__nav-item + .footer-bottom__nav-item{
    padding-left: 13px;
    padding-right: 13px;
    border-left: 2px solid #7b7b7b;
  }
  &__nav-item:nth-child(1){
    padding-right: 13px;
  }
  &__nav-link{
    font-size: 12px;
    line-height: 1 !important;
    padding: 0;
    @extend %Rubik-400;
    &:hover{
      color: $accent;
    }
  }
}


.top-slider{
  background-image: url(../images/top-slider/slider-bg.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-color: $preferences;
  padding: 220px 185px 45px 300px;
  height: 820px;
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__title{
    font-size: 70px;
    line-height: 72px;
    color: $title;
    margin-bottom: 20px;
    @extend %Rubik-500;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    @extend %Rubik-400;
    max-width: 370px;
    margin-bottom: 42px;
  }
  &__link{
    font-size: 18px;
    line-height: 12px;
    color: #fff;
    background-color: $accent;
    @extend %Rubik-500;
    padding: 24px 20px 20px 27px;
    transition: all .3s;
    &:hover{
      background-color: #b3d0e0;
    }
  }
  &__link-arrow{
    padding-left: 50px;
    fill: #fff;
  }
  &__img{
    padding-top: 45px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 205px;
    transition: all .3s;
    li{
      padding: 0 10px;
      line-height: 0;
      button{
        padding: 0;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        color: #667983;
        cursor: pointer;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: $title;
        }
      }
      &:hover{
        button{
          background-color: #fff;
        }
      }
    }
  }
}

.advantages{
  display: flex;
  height: 170px;
  background-color: #fef7f0;
  &__item{
    display: flex;
    width: 590px;
    justify-content: center;
    .advantage__content{
      margin: auto 0;
    }
  }
  &__item + .advantages__item{
    border-left: 1px solid #e8e4df;
  }
  &__link{
    margin: auto 0;
  }
  &__img{
    margin-right: 24px;
  }
  &__title{
    font-size: 18px;
    line-height: 40px;
    @extend %DMSans-700;
    color: #414141;
  }
  &__text{
    width: 199px;
    @extend %DMSans-400;
  }
}









@import 'media';
