@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';

.header{
  padding: 48px 0 45px;
  &__container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
}

.menu{
  margin-left: 89px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 34px;
  }
  &__list-link{
    color: #436372;
    @extend %DMSans-700;
    &:hover{
      color: $accent;
    }
  }
}

.user-nav{
  display: flex;
  &__search{
    width: 50px;
    height: 50px;
    background-color: $search;
    border-radius: 50%;
    margin-right: 21px;
    transition: all .3s;
    &:hover{
      background-color: $preferences;
    }
  }
  &__search-img{
    display: block;
    margin: 17px auto;
  }
  &__preferences{
    display: flex;
    width: 178px;
    justify-content: space-between;
  }
  &__preferences-left{
    display: flex;
    justify-content: space-around;
    width: 89px;
    height: 50px;
    background-color: $preferences;
    border-radius: 25px 0 0 25px;
    transition: all .3s;
    &:hover{
      background-color: $search;
    }
  }
  &__preferences-right{
    display: flex;
    justify-content: space-around;
    width: 89px;
    height: 50px;
    background-color: $preferences;
    border-radius: 0 25px 25px 0;
    transition: all .3s;
    &:hover{
      background-color: $search;
    }
  }
  &__preferences-link + .user-nav__preferences-link{
    border-left: 1px solid #fde7d3;
  }
  &__preferences-link{
    position: relative;
    width: 50%;
    height: 32px;
    margin: 8px auto;
  }
  &__preferences-img{
    display: block;
    margin: 7px auto;
  }
  &__preferences-num{
    position: absolute;
    top: -2px;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    margin-right: 5px;
    color: $direct;
  }
  &__catalog-link{
    width: 50px;
    height: 50px;
    background-color: $accent;
    border-radius: 50%;
    margin-left: 18px;
    &:hover{
      background-color: $hover-link;
    }
  }
  &__catalog-link-img{
    display: block;
    margin: 16px auto;
  }
}

.footer-top{
  padding: 99px 0 104px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__items{
    width: 270px;
  }
  &__items + .footer-top__items{
    margin-left: 30px;
  }
  &__link{
    &:hover{
      color: $accent;
    }

  }
  &__logo{
    margin-bottom: 16px;
    display: block;
  }
  &__address,
  &__email,
  &__phone{
    display: flex;
    width: 200px;
    margin-bottom: 8px;
    @extend %Rubik-400;
    color: #7b7b7b;
    &:hover{
      color: $accent;
    }
  }
  &__title{
    color: #1f2044;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 16px 0 19px;
  }
  &__text{
    @extend %Rubik-400;
    line-height: 20px;
    margin-bottom: 40px;
  }
  &__form{
    display: flex;
    max-width: 270px;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    border: none;
    padding: 3px 77px 3px 15px;
    &::placeholder{
      color: #234969;
      font-size: 12px;
      @extend %DMSans-400;
    }
  }
  &__form-btn{
    @extend %btn;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: #b3d0e0;
    }
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__nav-menu{
    line-height: 1;
    display: flex;
    justify-content: space-between;
  }
  &__nav-item + .footer-bottom__nav-item{
    padding-left: 13px;
    padding-right: 13px;
    border-left: 2px solid #7b7b7b;
  }
  &__nav-item:nth-child(1){
    padding-right: 13px;
  }
  &__nav-link{
    font-size: 12px;
    line-height: 1 !important;
    padding: 0;
    @extend %Rubik-400;
    &:hover{
      color: $accent;
    }
  }
}


.top-slider{
  background-image: url(../images/top-slider/slider-bg.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-color: $preferences;
  padding: 220px 185px 45px 300px;
  height: 820px;
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__title{
    font-size: 70px;
    line-height: 72px;
    color: $direct;
    margin-bottom: 20px;
    @extend %Rubik-500;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    @extend %Rubik-400;
    max-width: 370px;
    margin-bottom: 42px;
  }
  &__btn{
    font-size: 18px;
    line-height: 12px;
    color: #fff;
    background-color: $accent;
    @extend %Rubik-500;
    padding: 24px 20px 20px 27px;
    transition: all .3s;
    &:hover{
      background-color: #b3d0e0;
    }
  }
  &__btn-arrow{
    padding-left: 50px;
    fill: #fff;
  }
  &__img{
    padding-top: 45px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 205px;
    transition: all .3s;
    li{
      padding: 0 10px;
      line-height: 0;
      button{
        padding: 0;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        color: #667983;
        cursor: pointer;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: $direct;
        }
      }
      &:hover{
        button{
          background-color: #fff;
        }
      }
    }
  }
}

.advantages{
  display: flex;
  height: 170px;
  background-color: #fef7f0;
  &__item{
    display: flex;
    width: 590px;
    justify-content: center;
    .advantage__content{
      margin: auto 0;
    }
  }
  &__item + .advantages__item{
    border-left: 1px solid #e8e4df;
  }
  &__link{
    margin: auto 0;
  }
  &__img{
    margin-right: 24px;
  }
  &__title{
    font-size: 18px;
    line-height: 40px;
    @extend %DMSans-700;
    color: #414141;
  }
  &__text{
    width: 199px;
    @extend %DMSans-400;
  }
}

.product-week{
  padding: 70px 0 60px;
  transition: all .3s;
  &__catalog{
    margin-bottom: 185px;
  }
  &__filter-btn{
    display: flex;
    justify-content: center;
  }
  &__btn + .product-week__btn{
    margin-left: 30px;
  }
  &__btn{
    border: none;
    background-color: transparent;
    margin-bottom: 75px;
    @extend %DMSans-700;
    color: $default;
    &:hover{
      color: $title;
    }
  }
  &__btn.mixitup-control-active{
    color: $title;
  }
  &__content{
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    background-color: #fff;
  }
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 270px;
    min-height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover .product-week__controls{
      position: absolute;
      display: flex;
      justify-content: center;
      top: 50%;
    }
  }
  &__item-img{
    max-width: 100%;
    margin: auto 0;
  }
  &__controls{
    display: none;
  }
  &__control-search,
  &__control-cart,
  &__control-heart{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid transparent;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }
  &__control-search{
    background-color: #fff;
    &:hover{
      background-color: #e2f2fa;
    }
  }
  &__control-cart{
    background-color: #a3bac7;
    margin-left: 15px;
    &:hover{
      background-color: $hover-link;
    }
  }
  &__control-heart{
    background-color: #fff;
    margin-left: 15px;
    &:hover{
      background-color: #e2f2fa;
    }
  }
  &__item-title{
    line-height: 40px;
    align-items: center;
    color: $direct;
    @extend %DMSans-700;
  }
  &__item-price{
    line-height: 40px;
    text-align: center;
    margin-bottom: 16px;
    color: $accent;
    @extend %DMSans-700;
  }
  &__top-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-item{
    display: flex;
    justify-content: space-between;
    background-color: #feefe2;
    width: 100%;
    height: 388px;
  }
  &__top-item + .product-week__top-item{
    margin-left: 30px;
  }
  &__top-img{
    margin-top: -95px;
    margin-left: 137px;
    max-height: 100%;
  }
  &__top-info{
    margin-left: 25px;
    margin-right: auto;
  }
  &__top-title{
    margin: 90px 0 20px;
    font-size: 26px;
    color: $direct;
  }
  &__top-text{
    line-height: 30px;
    max-width: 335px;
    margin-bottom: 32px;
  }
  &__top-btn{
    font-size: 18px;
    line-height: 12px;
    color: #436372;
    background-color: transparent;
    @extend %Rubik-500;
    padding: 24px 20px 20px 27px;
    border: 1px solid #436372;
    border-radius: 8px;
    transition: all .3s;
    &:hover{
      background-color: #b3d0e0;
      color: #fff;
      border: 1px solid #b3d0e0;
    }
    &:hover .product-week__top-btn-arrow{
      fill: #fff;
    }
  }
  &__top-btn-arrow{
    padding-left: 50px;
    fill: #436372;
  }
}

.new-design{
  padding: 60px 0 60px;
  text-align: center;
  &__btn{
    border: none;
    color: $default;
    @extend %DMSans-700;
    background-color: transparent;
    cursor: pointer;
    &:hover{
      color: $title;
    }
  }
  &__btn + .new-design__btn{
    margin-left: 30px;
  }
  &__btn.mixitup-control-active{
    color: $title;
  }
  &__items{
    display: grid;
    grid-gap: 30px;
    margin-top: 77px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &__item{
    position: relative;
    background-color: #f8f8f8;
    min-height: 245px;
  }
  &__content{
    position: absolute;
  }
  &__title{
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 40px;
    margin-left: 35px;
    text-align: left;
    color: $title;
    max-width: 170px;
    @extend %DMSans-700;
    &:hover{
      color: $hover-link;
    }
  }
  &__subtitle{
    margin-top: 17px;
    margin-left: 35px;
    text-align: left;
    color: $accent;
    @extend %DMSans-700;
  }

}

.video-design{
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 60px;
  &__svg .cls-1, .cls-2{
    fill: #a3bbc8;
    &:hover{
      fill: $hover-link;
    }
  }
  &__svg .cls-1{
    opacity: 0.4;
  }
  &__svg .cls-3{
    fill: #fff;
    fill-rule: evenodd;
  }
}

.articles{
  &__top{
  min-height: 390px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
  }
  a.articles__top-link{
    line-height: 24px;
    color: #262626;
    @extend %DMSans-700;
  }
  &__bottom{
    position: relative;
    background-color: #fef7f0;
    min-height: 435px;
  }
  &__items{
    position: absolute;
    top: -250px;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 370px;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
  }
  &__item + .articles__item{
    margin-left: 30px;
  }
  &__item-content{
    position: relative;
  }
  &__link-news{
    position: absolute;
    background-color: $accent;
    @extend %Poppins-700;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    top: 225px;
    left: 28px;
  }
  &__info-wrapper{
    display: block;
    padding: 43px 0 12px;
    margin: 0 31px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__info-link{
    display: block;
    padding: 0 40px 0 0;
    color: #262626;
    @extend %DMSans-500;
    font-size: 18px;
  }
  &__details{
    display: flex;
    margin: 14px 0 14px 30px;
  }
  &__info-date{
    margin-right: 30px;
  }
}

.partners{
  padding-top: 268px;
  height: 266px;
  &__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center center;
  }
}








@import 'media';
