.about{
  margin: 122px 0;
  &__top{
    display: flex;
  }
  &__content{
    width: 600px;
    padding-top: 84px;
    padding-left: 50px;
  }
  &__experience{
    display: flex;
    margin-bottom: 47px;
  }
  &__experience-num{
    @extend %Rubik-700;
    font-size: 140px;
    line-height: 1;
    color: $accent;
  }
  &__experience-items{
    margin: 38px 10px 3px 25px;
  }
  &__experience-text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $direct;
  }
  &__title{
    @extend %DMSans-700;
    color: $direct;
    font-size: 36px;
    line-height: 32px;
  }
  &__text{
    padding: 40px 33px 60px 0;
    max-width: 515px;
  }
  &__numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: center center;
    padding: 40px 0;
    border-top: 2px solid #e6eaf0;
    width: 100%;
    @extend %DMSans-700;
    color: $direct;
    font-size: 36px;
  }
  &__numbers-num{
    position: relative;
    padding: 0 10px 0 60px;
    span{
      font-size: 16px;
      color: #4c4c4c;
      position: absolute;
      bottom: -30px;
      left: 60px;
    }
  }
  &__numbers-item{
    padding: 0 20px;
    height: 64px;
  }
  &__numbers-border{
    border-left: 2px solid #e6eaf0;
    border-right: 2px solid #e6eaf0;
  }
  &__numbers-project{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/project-icon.svg');
      width: 36px;
      height: 38px;
      bottom: -15px;
      left: 0;
    }
  }
  &__numbers-revenue{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/revenue.svg');
      width: 43px;
      height: 39px;
      bottom: -15px;
      left: 0;
    }
  }
  &__numbers-awards{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/awards.svg');
      width: 42px;
      height: 40px;
      bottom: -15px;
      left: 0;
    }
  }
}

@media (max-width: 1300px){
  .about{
    margin: 80px 0;
    &__top-img{
      display: flex;
      max-height: 470px;
    }
    &__experience{
      margin-bottom: 30px;
    }
    &__content{
      width: 100%;
      padding-top: 0;
      padding-left: 20px;
    }
    &__title{
      font-size: 22px;
      line-height: 26px;
    }
    &__text{
      padding: 20px 0;
      max-width: 100%;
    }
    &__numbers-num{
      padding: 0 10px 0 50px;
      font-size: 22px;
      span{
        bottom: -23px;
        left: 50px;
      }
    }
    &__numbers-border{
      border: none;
    }
    &__numbers-project,
    &__numbers-revenue,
    &__numbers-awards{
      &::before{
        bottom: -12px;
      }
    }
  }
}

@media (max-width: 900px){
  .about{
    margin: 50px 0;
    &__top-img{
      display: none;
    }
    &__experience{
      justify-content: center;
    }
    &__content{
      padding-left: 0;
    }
    &__title{
      display: block;
      text-align: center;
    }
    &__numbers{
      justify-content: center;
      align-items: center;
      padding: 10px 0;
    }
  }
}

@media (max-width: 600px){
  .about{
    &__numbers{
      flex-direction: column;
      justify-content: center;
    }
    &__numbers-num{
      padding-left: 70px;
      span{
        left: 70px;
      }
    }
  }
}