.shop{
  padding: 118px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 270px;
    margin-right: 30px;
  }
}



.irs{
  height: 0;
  margin-top: -13px;
}

.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single{
  display: none;
}

.irs--flat .irs-handle{
  top: 23px;
  width: 15px;
  height: 15px;
  background-color: $accent;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-line{
  top: 29px;
  height: 3px;
  background-color: #c2d2db;
}

.irs--flat .irs-bar{
  top: 29px;
  height: 4px;
  background-color: $accent;
}



.recent-product{
  &__item{
    margin-bottom: 23px;
  }
  &__link{
    display: flex;
  }
  &__img-wrapper{
    border: 1px solid #f5f5f5;
    padding: 3px 5px;
    margin-right: 20px;
    height: 60px;
    width: 70px;
  }
  &__img{
    max-height: 100%;
    margin: 0 auto;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__title{
    font-size: 14px;
  }
  .star{
    padding: 0;
  }
  &__price{
    font-size: 15px;
  }
}

.shop-content{
  width: 100%;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 68px;
    margin-top: 40px;
    .product-item{
      margin-bottom: 40px;
    }
  }
  &__filter-buttons{
    display: flex;
    align-items: center;
    margin: -30px;
    margin-left: 20px;
  }
  &__filter-btn{
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active{
      path{
      fill: $direct;
      }
    }
  }
}