.shop{
  padding: 118px 0;
  &__inner{
    display: flex;
  }
  &__filters-btn{
    display: none;
  }
  &__filters{
    width: 270px;
    margin-right: 30px;
  }
}

.irs{
  height: 0;
  margin-top: -13px;
}

.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single{
  display: none;
}

.irs--flat .irs-handle{
  top: 23px;
  width: 15px;
  height: 15px;
  background-color: $accent;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-line{
  top: 29px;
  height: 3px;
  background-color: #c2d2db;
}

.irs--flat .irs-bar{
  top: 29px;
  height: 4px;
  background-color: $accent;
}

.recent-product{
  &__item{
    margin-bottom: 23px;
  }
  &__link{
    display: flex;
  }
  &__img-wrapper{
    border: 1px solid #f5f5f5;
    padding: 3px 5px;
    margin-right: 20px;
    height: 60px;
    width: 70px;
  }
  &__img{
    max-height: 100%;
    margin: 0 auto;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__title{
    font-size: 14px;
  }
  .star{
    padding: 0;
  }
  &__price{
    font-size: 15px;
  }
}

.shop-content{
  width: 100%;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 68px;
    .product-item{
      margin-bottom: 40px;
    }
  }
  &__wrapper-nogrid{
    display: flex;
  }
  &__filter-buttons{
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-left: 20px;
  }
  &__filter-btn{
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active{
      path{
      fill: $direct;
      }
    }
  }
}


@media (max-width: 1300px){
  .shop-content{
    &__wrapper{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &__wrapper-nogrid{
      display: flex;
    }
    .product-item{
      &__controls{
        left: 32%;
      }
    }
  }
  .shop{
    &__filters-btn{
      display: block;
      border: none;
      background-color: $accent;
      padding: 0;
      width: 50px;
      height: 50px;
      position: fixed;
      right: 17px;
      bottom: 50px;
      border-radius: 50%;
      z-index: 100;
      span{
        width: 50px;
        height: 50px;
        svg{
          margin-top: 10px;
          width: 80%;
          height: 80%;
        }
      }
    }
    &__filters{
      padding: 20px;
      width: 100%;
      max-width: 100%;
      margin: 0;
      display: none;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 10;
      background-color: #fff;
    }
  }
}

@media (max-width: 1000px){
  .shop-content{
    &__wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    &__wrapper-nogrid{
      display: flex;
    }
  }
  .product-item{
    &__controls{
      left: 32%;
    }
  }
}

@media (max-width: 860px){
  .shop-content{
    &__wrapper-nogrid{
      display: flex;
    }
    &__filter-buttons{
      display: none;
    }
  }
  .product-item__img-box{
    width: 100%;
    max-height: 495px;
  }
}

@media (max-width: 730px){
  .shop{
    padding: 50px 0;
  }
  .product-item__content-wrapper{
    max-width: 300px;
  }
  .product-item__img-box{
    height: 100%;
  }
  .product-item.product-item--list .product-item__title{
    font-size: 24px;
    margin-bottom: 15px;
  }
  .product-item.product-item--list .star{
    margin-bottom: 15px;
    line-height: 18px;
  }
  .product-item.product-item--list .product-item__price{
    font-size: 14px;
    line-height: 16px;
  }
  .product-item__text{
    font-size: 14px;
    line-height: 16px;
    margin: 20px 0;
    display: inline-block;
    max-width: 300px;
  }
  .product-item.product-item--list .product-item__content-wrapper{
    padding-left: 15px;
  }
}

@media (max-width: 530px){
  .shop-content{
    &__wrapper{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .product-item.product-item--list .product-item__img-box,
  .product-item.product-item--list .product-item__content-wrapper{
    margin: 0 auto;
  }
  .product-item.product-item--list .product-item__img-box{
    padding-top: 60px;
    padding-bottom: 40px;
    display: block;
  }
  .product-item.product-item--list{
    flex-direction: column;
  }
  .product-item.product-item--list .product-item__content-wrapper{
    padding: 30px 0;
    
  }
  .product-item.product-item--list .product-item__img-box {
    width: 100%;
    max-height: 100%;
  }
  .product-item.product-item--list .product-item__content-box {
    flex-direction: column;
  }
  .product-item.product-item--list .product-item__title{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .product-item__text{
    width: 100%;
    margin: 10px 0;
  }
  .product-item__btn{
    display: block;
    margin-top: 30px;
  }
}

@media (max-width: 375px){
  .product-item.product-item--list{
    .product-item__img-box{
      padding: 15px 0;
    }
  }
}