.modal{
  padding-top: 118px;
  margin: 0 auto;
  max-width: 500px;
  margin: 0 auto 120px;
  &__lable{
    display: block;
    @extend %Rubik-400;
    color: #436372;
  }
  &__input{
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 26px;
  }
  &__btn{
    display: block;
    @extend %Rubik-500;
    font-size: 18px;
    color: #fff;
    width: 100%;
    background-color: $accent;
    padding: 14px 0;
    border: none;
    cursor: pointer;
  }
  &__btn-account{
    display: block;
    @extend %Rubik-500;
    font-size: 18px;
    color: $direct;
    width: 100%;
    background-color: transparent;
    padding: 14px 0;
    border: 2px solid $accent;
    cursor: pointer;
  }
  &__choice{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-bottom: 30px;
    color: #436372;
    border-bottom: 2px solid #f6f6f6;
  }
  &__arror-link{
    display: block;
    color: #436372;
  }
  &__text{
    color: #436372;
    text-align: center;
    margin-bottom: 24px;
  }
}