<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/about-us.min.css">
</head>

<body>

   {% include 'app/module/_header/_header.html' %}
   
  <main class="main">
    
    {% include 'app/module/_top/_top.html' %}
    {% include 'app/module/_about/_about.html' %}
    {% include 'app/module/_statistics/_statistics.html' %}
    {% include 'app/module/_team/_team.html' %}
    {% include 'app/module/_articles/_articles.html' %}
    {% include 'app/module/_partners/_partners.html' %}

  </main>
  
  {% include 'app/module/_footer/_footer.html' %}


  <script src="js/main.min.js"></script>
</body>

</html>