.blog-one{
  padding: 120px 0;
  .blog-page__item-box{
    padding-bottom: 38px;
    border-bottom: 1px solid #ebebeb;
  }
  h3{
    font-size: 36px;
    line-height: 38px;
    @extend %Rubik-400;
    color: #333333;
    padding: 40px 0 25px;
  }
  .filter__title{
    text-transform: uppercase;
    color: $direct;
    font-size: 18px;
    @extend %DMSans-700;
    margin-bottom: 30px;
    padding: 0;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url('../images/icons/filter-title-decor.svg');
      width: 38px;
      height: 2px;
      top: 15px;
      margin-left: 15px;
    }
  }
  b{
    font-size: 16px;
    @extend %Rubik-700;
    color: $direct;
    margin-bottom: 25px;
  }
  p{
    width: 800px;
    font-size: 16px;
    color: $direct;
    @extend %Rubik-400;
    margin-bottom: 10px;
  }
  blockquote{
    background-color: $search;
    padding: 25px 40px;
    border-left: 6px solid $accent;
    margin: 45px 0;
  }
  &__left-img{
    float: left;
    margin-right: 30px;
  }
  h6{
    font-size: 18px;
    line-height: 20px;
    @extend %Rubik-700;
    color: $direct;
    padding: 20px 0;
  }
  &__author-box{
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #ebebeb;
  }
  &__author-infobox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__author-img{
    margin-right: 24px;
  }
  &__author-name{
    font-size: 18px;
    @extend %Rubik-700;
    color: #333333;
  }
  &__author-position{
    font-size: 16px;
    @extend %Rubik-400;
    color: #666666;
  }
  &__author-tags,
  &__author-share{
    span{
      color: #333333;
      font-size: 16px;
      @extend %Rubik-400;
      margin-right: 20px;
    }
  }
  &__author-tags{
    color: #999999;
    a{
      margin-left: 10px;
      &:hover{
        transition: all .3s;
        color: $accent;
      }
    }
  }
  &__author-share{
    color: #a1a1a1;
    path{
      fill: #a1a1a1;
    }
    a{
      margin-right: 10px;
      &:hover{
        path{
        transition: all .3s;
          fill: $accent;
        }
      }
    }
  }
}


.comments{
  padding: 65px 0 90px;
  &__title{
    font-size: 24px;
    @extend %Poppins-700;
    color: #436372;
    margin-bottom: 60px;
  }
  &__item{
    display: flex;
    padding: 30px 0;
    width: 100%;
  }
  &__item--answer{
    padding-left: 130px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 700px;
    .comments__item-wrapper{
      width: 570px;
    }
    p.comments__item-text{
      width: 570px;
    }
  }
  &__item-img{
    margin-right: 30px;
    height: 100px;
  }
  &__item-wrapper{
    max-width: 700px;
  }
  &__item-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
  }
  h6.comments__item-name{
    font-size: 16px;
    line-height: 1;
    @extend %Poppins-700;
    display: block;
    padding: 0;
    width: 100%;
  }
  p.comments__item-date{
    font-size: 14px;
    line-height: 1;
    @extend %Rubik-400;
    color: #9e9e9e;
    max-width: 100%;
    margin: 0;
    text-align: right;
    margin-right: 130px;
  }
  p.comments__item-text{
    font-size: 16px;
    @extend %Rubik-400;
    color: #565872;
    max-width: 700px;
  }
  &__item-link{
    color: #516278;
    font-size: 14px;
    @extend %Rubik-400;
    path{
      fill: #516278;
    }
  }
  &__form-box{
    padding-top: 60px;
    width: 100%;
  }
  &__form{
    text-align: left;
  }
  &__form-inner{
    display: flex;
    justify-content: space-between;
    width: 830px;
  }
  &__form-input{
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 45px 0 20px;
    border: 1px solid #f2f2f2;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    &:hover{
      border: 1px solid $accent;
      color: #333333;
    }
  }
  &__form-input--name{
    background-image: url('../images/icons/user.svg');
  }
  &__form-input--email{
    background-image: url('../images/icons/letter.svg');
  }
  &__form-textarea{
    width: 100%;
    height: 175px;
    padding: 5px 45px 0 20px;
    border: 1px solid #f2f2f2;
    resize: none;
    margin-bottom: 24px;
    background-image: url('../images/icons/messege.svg');
    background-repeat: no-repeat;
    background-position: 97% 10%;
    &:hover{
      border: 1px solid $accent;
      color: #333333;
    }
  }
  &__form-btn{
    margin-left: 0;
    @extend %btn;
    Padding: 14px 43px;
    border: 1px solid $accent;
    border-radius: 5px;
    &:hover{
      background-color: #fff;
      color: $accent;
    }
  }
}

.search-form{
  width: 100%;
  position: relative;
  margin-bottom: 55px;
  &__input{
    border: 2px solid $search;
    width: 233px;
    height: 43px;
    padding-right: 20px;
    border-radius: 8px;
    outline: none;
  }
  &__btn{
    content: '';
    position: absolute;
    margin-left: -15px;
    border: none;
    border-radius: 8px;
    background-color: $search;
    width: 48px;
    height: 43px;
    cursor: pointer;
    &:hover{
      background-color: $accent;
      path{
        fill: #fff;
      }
    }
  }
}

.filter{
  &__title{
    text-transform: uppercase;
    color: $direct;
    font-size: 18px;
    @extend %DMSans-700;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url('../images/icons/filter-title-decor.svg');
      width: 38px;
      height: 2px;
      top: 15px;
      margin-left: 15px;
    }
  }
  &__item{
    margin-bottom: 56px;
  }
}

.filter-category{
  &__label{
    display: block;
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: $search;
      border-radius: 8px;
    }
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    padding: 5px 17px 5px 17px;
    color: $direct;
    span{
      margin: auto 0;
    }
  }
}

.filter-price{
  color: $direct;
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
  }
}

.filter-brand{
  &__label{
    display: block;
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: $search;
      border-radius: 8px;
    }
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    padding: 6px 23px 4px 16px;
    color: $direct;
    span{
      margin: auto 0;
      font-size: 16px;
    }
  }
}

.filter-resentpost{
  padding-bottom: 22px;
  &__items{
    display: block;
  }
  &__item{
    padding-bottom: 22px;
    display: flex;
    align-items: center;
  }
  &__item-imglink{
    min-width: 71px;
    width: 71px;
    height: 71px;
    margin-right: 20px;
  }
  &__item-title{
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
  }
  .articles__info-date{
    font-size: 12px;
    color: #9a9a9a;
    text-transform: uppercase;
  }
  .articles__info-dateicon{
    path{
      fill: #9a9a9a;
    }
  }
}
@media (max-width: 1230px){
  .blog-page.blog-one{
    padding: 50px 0;
  }
  .articles__item{
    width: 100%;
    padding-bottom: 20px;
  }
  .comments__item--answer .comments__item-wrapper{
    max-width: 100%;
    width: 100%;
  }
  .comments__item--answer p.comments__item-text{
    max-width: 100%;
    width: 100%;
  }
  .comments p.comments__item-date{
    margin-right: 0;
  }
  .comments{
    padding: 20px 0;
    &__form-input{
      margin-left: 5px;
    }
    &__title{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 900px){
  .comments{
    &__item-wrapper{
      width: 100%;
    }
    &__item--answer{
      max-width: 100%;
      width: 100%;
      padding-right: 30px;
    }
    &__item-text{
      max-width: 100%;
    }
    &__form-inner{
      width: 100%;
    }
    &__form-input{
      width: 100%;
    }
  }
  .blog-one {
    p{
      max-width: 100% !important;
      width: 100%;
    }
  }
}

@media (max-width: 600px){
  .comments{
    &__item--answer{
      padding-left: 40px;
    }
    &__item-box{
      display: block;
    }
  }
  .comments p.comments__item-date{
    text-align: left;
    margin-top: 15px;
  }
  .blog-one{
    &__author-infobox{
      display: block;
    }
    &__author-social{
      margin-top: 15px;
    }
    &__author-img{
      height: 100%;
    }
  }
}

@media (max-width: 460px){
  .comments{
    &__item-img{
      display: none;
    }
    &__form-inner{
      display: block;
    }
  }
}