.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    width: 830px;
    margin-right: 70px;
  }
  &__aside{
    width: 270px;
  }
  .articles__item{
    max-width: 100%;
    width: 100%;
    padding-bottom: 40px;
    margin-left: 0;
  }
  .articles__item-img{
    width: 100%;
  }
  .articles__item-content{
    width: 100%;
  }
  .articles__link-news,
  .articles__info-wrapper{
    display: none;
  }
  .articles__details{
    background-color: $accent;
    color: #fff;
    display: inline-block;
    width: 275px;
    height: 70px;
    margin: 0;
    position: absolute;
    margin-top: -70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .articles__info-date,
  .articles__info-author{
    font-size: 12px;
    color: #fff;
    margin: 0;
  }
  .articles__info-dateicon{
    path{
      fill: #fff;
    }
  }
  .articles__info-authoricon{
    path{
      fill: #fff;
    }
  }
  &__item-box{
    height: 100%;
    margin-bottom: 40px;
  }
  &__item-title{
    @extend %Rubik-400;
    font-size: 36px;
    color: #333333;
    margin: 40px 0;
  }
  &__item-text{
    @extend %Rubik-400;
    color: #333333;
    padding-bottom: 40px;
  }
  &__item-btn{
    padding: 21px 19px;
    border: 1px solid $accent;
    color: $accent;
    transition: all .3s;
    margin-bottom: 40px;
    cursor: pointer;
    path{
      fill: $accent;
    }
    &:hover{
      background-color: $accent;
      color: #fff;
      path{
        fill: #fff;
      }
    }
  }
}