.team{
  padding: 112px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 370px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $direct;
    margin: 27px 0 40px;
    max-width: 287px;
  }
  &__link{
    @extend %btn-arrow;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item-infobox{
    display: inline-block;
    background-color: #fff;
    margin-top: -48px;
    width: 320px;
    height: 110px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__item-infobox-inner{
    display: flex;
    justify-content: space-between;
    padding: 32px 20px 28px 23px;
  }
  &__item-info{
    margin: auto 0;
  }
  &__item-name{
    @extend %DMSans-700;
    color: $direct;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 10px;
  }
  &__item-post{
    @extend %Rubik-400;
    line-height: 30px;
    color: #565872;
  }
  &__social-links{
    display: flex;
    justify-content: right;
    align-items: center;
  }
  &__social-link{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f6f6f6;
    margin-left: 10px;
  }
}

@media (max-width: 1300px){
  .team{
    padding: 50px 0;
    &__inner{
      display: block;
    }
    &__content{
      max-width: 100%;
      padding: 50px 0;
    }
    &__title,
    &__text{
      max-width: 100%;
      margin: 0;
      padding: 30px 0;
    }
    &__text{
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 860px){
  .team{
    &__items{
      grid-template-columns: repeat(1, 1fr);
    }
    &__item{
      width: 100%;
      display: flex;
    }
    &__item-infobox{
      margin-top: 0;
      margin-left: 20px;
      display: block;
      height: 100%;
    }
    &__item-infobox-inner{
      display: block;
      text-align: center;
    }
    &__item-info{
      padding-bottom: 50px;
    }
    &__social-links{
      justify-content: center;
    }
    &__social-link{
      margin-left: 0;
    }
    &__social-link + .team__social-link{
      margin-left: 30px;
    }
  }
}

@media (max-width: 780px){
  .team{
    &__item{
      display: block;
    }
    &__item-infobox{
      margin-top: -48px;
      margin-left: 0;
      display: inline-block;
      height: 110px;
      width: 320px;
      z-index: 20;
    }
    &__item-infobox-inner{
      display: flex;
      justify-content: space-between;
    }
    &__item-info{
      padding-bottom: 0;
      margin: 0;
      text-align: left;
    }
    &__social-links{
      display: flex;
      justify-content: right;
      align-items: center;
    }
    &__social-link{
      margin-left: 10px;
    }
    &__social-link + .team__social-link{
      margin-left: 10px;
    }
  }
}

@media (max-width: 375px){
  .team{
    &__item-infobox{
      width: 100%;
    }
  }
}