.top-slider{
  background-image: url(../images/top-slider/slider-bg.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-color: $preferences;
  padding: 220px 185px 45px 300px;
  height: 820px;
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__title{
    font-size: 70px;
    line-height: 72px;
    color: $direct;
    margin-bottom: 20px;
    @extend %Rubik-500;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    @extend %Rubik-400;
    max-width: 370px;
    margin-bottom: 42px;
  }
  &__btn{
    width: 208px;
    font-size: 18px;
    line-height: 12px;
    color: #fff;
    background-color: $accent;
    @extend %Rubik-500;
    padding: 24px 20px 20px 27px;
    transition: all .3s;
    &:hover{
      background-color: #b3d0e0;
    }
  }
  &__btn-arrow{
    padding-left: 50px;
    fill: #fff;
  }
  &__img{
    padding-top: 45px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 115px;
    li{
      padding: 0 10px;
      line-height: 0;
      button{
        transition: all .3s;
        padding: 0;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        color: #667983;
        cursor: pointer;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: $direct;
        }
      }
      &:hover{
        button{
          background-color: #fff;
        }
      }
    }
  }
}

.advantages{
  display: flex;
  min-height: 170px;
  background-color: #fef7f0;
  &__item{
    display: flex;
    width: 590px;
    justify-content: center;
    .advantage__content{
      margin: auto 0;
    }
  }
  &__item + .advantages__item{
    border-left: 1px solid #e8e4df;
  }
  &__link{
    margin: auto 0;
  }
  &__img{
    margin-right: 24px;
  }
  &__title{
    font-size: 18px;
    line-height: 40px;
    @extend %DMSans-700;
    color: #414141;
  }
  &__text{
    width: 199px;
    @extend %DMSans-400;
  }
}

@media (max-width: 1400px) {
  .top-slider{
    padding: 80px 50px;
    background-size: 30%;
    background-position: 98% 30%;
    height: 450px;
    &__title{
      font-size: 40px;
      line-height: 45px;
    }
    &__text{
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }
    &__content{
      width: 300px;
      min-height: 220px;
      display: flex;
      flex-direction: column;
    }
    &__img{
      width: 35%;
      height: 35%;
      padding: 0;
      margin: auto 0;
    }
    &__btn{
      display: block;
      width: 208px;
    }
    .slick-dots{
      margin-top: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .top-slider{
    height: 350px;
    padding: 50px;
    background-size: 27%;
  }
  .advantages{
    &__item{
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .top-slider{
    padding: 50px 30px;
    .slick-dots{
      margin-top: 20px;
    }
  }
  .advantages{
    flex-direction: column;
    &__item{
      flex-direction: row;
      width: 100%;
    }
    &__item + .advantages__item{
      border-left: none;
      border-top: 1px solid #e8e4df;
    }
  }
}

@media (max-width: 600px) {
  .top-slider{
    background-image: none;
    &__content{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    &__title{
      font-size: 30px;
      line-height: 33px;
    }
    &__img{
      display: none !important;
    }
  }
}